@model MvcNetCorePostgresEC2.Models.Departamento

@{
    ViewData["Title"] = "Detalles del Departamento";
}

<h1>Detalles del Departamento</h1>

<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.IdDepartamento)</dd>

        <dt class="col-sm-3">Nombre</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>

        <dt class="col-sm-3">Localidad</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Localidad)</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDepartamento" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>